@import "./Media.scss";
.gloabal-form {
  width: 100%;
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  label {
    font-size: 12px;
    color: #808080;
    display: block;
    margin-bottom: 8px;
    margin-top: 26px;
  }
  input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: 0px 4px 10px 0px rgba(44, 101, 144, 0.1);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      background-color: #fff;
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      outline: 0;
    }
  }
  button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #3f8acc;
    color: #fff;
    transition: all 0.3s;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 15px;
    margin-right: 10px;
    &:hover,
    &:focus {
      background-color: rgba(63, 138, 204, 0.9);
      color: #fff;
    }
  }
}

.image-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .content-box {
    padding: 20px 20px;
    border-radius: 3px;
    background-color: #fff;
    max-width: 1120px;
    width: calc(100% - 30px);
  }
  .image-wrapper {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    max-height: 400px;
    overflow: auto;
    .image-layer {
      width: calc(100% / 3 - 10px);
      margin-bottom: 10px;
      margin-right: 10px;
      @include media($medium) {
        width: calc(100% / 5 - 10px);
      }
      @include media($large) {
        width: calc(100% / 8 - 10px);
      }
      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 184px;
      }
    }
  }
}

.btn {
  &.inline-btn {
    display: inline-block;
  }
}
.uploadImage {
  color: #007bff;

  .upload-image-group {
    display: flex;
    align-items: center;
    .upload-box {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0.375rem 0.75rem;
      font-size: 14px;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid transparent;
      box-shadow: 0px 4px 10px 0px rgba(44, 101, 144, 0.1);
      border-radius: 3px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      width: calc(100% - 57px);
      @include media($large) {
        width: calc(100% - 94px);
      }
      p {
        margin-bottom: 0;
        color: #757575;
        font-weight: 400;
        max-width: calc(100% - 40px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .btn {
      height: 46px;
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
    }
  }
}
